Dear <%= @tailor.first_name %>,
<p>
  We have a new opportunity for you.
  A customer likes your work and has requested a bid on their order.
  <br>
  <span>Click here to bid: </span><%= "#{Rails.application.secrets.domain_frontend}" %>.
</p>
<p>
  We wish you all the best and hope your bid get's selected.
</p>
<p>
  Regards,
  <br>
  Darrzee Team
</p>
