Dear <%=@tailor.first_name%>,
<p>
  The bidding has been revoked for order # <%= @proposal.id %>.
  The customer has now selectd a tailor and all other bids are now being revoked.
  No need to worry it is only a matter of time before you will be requested to place a new bid for a new order by a new customer.
</p>

<p>Regards,</p>
<p>Darrzee Team</p>
